<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="nav h-14 w-full bg-slate-200 rounded-lg flex items-center justify-between px-2">
        <a href="/profile" class="text-2xl text-zinc-500"><span class="text-black text-4xl">K</span>haata<span class="text-black text-4xl">B</span>ook</a>
        <div class="right-nav flex items-center gap-5 mr-4">
            <a href="/hisaab" class="text-xl">Create Hisaab</a>
            <button id="dark-mode" class="rounded-full h-12 w-12 text-white bg-yellow-600 overflow-hidden"><i class="ri-sun-line"></i></button>
            <button id="light-mode" class="rounded-full h-12 w-12 text-white bg-blue-800 overflow-hidden"><i class="ri-moon-line"></i></button>
            <a href="/logout" class="text-xl font-semibold text-red-600 underline">Logout</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const lightModeBtn = document.getElementById('light-mode');
            const darkModeBtn = document.getElementById('dark-mode');
            const body = document.body;

            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                body.classList.add(savedTheme);
            }

            lightModeBtn.addEventListener('click', () => {
                body.classList.add('light');
                body.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            });

            darkModeBtn.addEventListener('click', () => {
                body.classList.add('dark');
                body.classList.remove('light');
                localStorage.setItem('theme', 'dark');
            });
        });
    </script>


</body>
</html>